@import 'colours';

@adapt-primary-color: #45B143;
@adapt-secondary-color:#60BB54;
@adapt-tertiary-color : #65e062; 
@adapt-quaternary-color:#36cde8;

@sidebar-text-color:  darken(@primary-color, 10%);;
@sidebar-input-text-color: @sidebar-text-color;
@sidebar-input-color: white;